<!doctype>
<html>
    <header>
        <link rel="stylesheet" href="/static/main.css"></link>
    </header>
        <body>
            <div class="navigationBar">
                <a class="active" href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
            <h1>Witamy w Notatniczku</h1>
            <h4>Tutaj mozesz zapisywac swoje notatki i udostępniać je innym uzytkownikom.</h4>
            <footer>
                <ul>
                    <li>Ochrona danych w systemach informatycznych 2020</li>
                </ul>
            </footer>
        </body>
</html>