<!doctype>
<html>
    <header>
        <link rel="stylesheet" href="/static/main.css"></link>
    </header>
        <body>
            <div class="navigationBar">
                <a href="/profile">Panel uzytkownika</a>
                <a href="/publicnotes">Publiczne notatki</a>
                <a class="active" href="/privatenotes">Prywatne notatki</a>
                <a href="/privatenotessecure">Szyfrowane notatki</a>
                <a href="/sharednotes">Współdzielone notatki</a>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <h3>Twoje notatki:</h3>
            <ol>
                {% for note in all_notes %}
                    <li>
                        Tytul: {{note.title}}<br>
                        Typ notatki: {{note.noteType}}<br>
                        Współdzielona z: {{note.sharedWith}}<br>
                        Tresc: {{note.content}}<br>
                    </li>
                {% endfor %}
            </ol>

            <h3>Dodaj prywatna notatke!</h3>
            <form action="/privatenotes" method="POST" id ="addprivatenote" enctype="multipart/form-data">
                <ul>
                    <li>Unikalny tytul:</li>
                    <li><input type="title", id="title" name="title", placeholder="Tytul"></li>
                    <li>Tresc notatki:</li>
                    <li><input type="content", id="content" name="content", placeholder="Treść notatki"></li>
                    <li><input type="submit", id="submit", name="submit", value="Opublikuj notatkę" ></li>
                </ul>
            </form>

            <footer>
                <ul>
                    <li>Ochrona danych w systemach informatycznych 2020</li>
                </ul>
            </footer>
        </body>
</html>