<!doctype>
<html>
    <header>
        <link rel="stylesheet" href="/static/main.css"></link>
    </header>
        <body>
            <div class="navigationBar">
                <a href="/profile">Panel uzytkownika</a>
                <a href="/publicnotes">Publiczne notatki</a>
                <a href="/privatenotes">Prywatne notatki</a>
                <a href="/privatenotessecure">Szyfrowane notatki</a>
                <a class="active" href="/sharednotes">Współdzielone notatki</a>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <h3>Udostepnione Tobie notatki:</h3>
            <ol>
                {% for shared_note in shared_notes %}
                    <li>
                        Tytul: {{shared_note.title}}<br>
                        Tresc: {{shared_note.content}}<br>
                        Tworca: {{shared_note.owner}}
                    </li>
                {% endfor %}
            </ol>

            <h3>Udostępnij komuś notatkę notatkę!</h3>
            <form action="/sharednotes" method="POST" id ="addsharednote" enctype="multipart/form-data">
                <ul>
                    <li>Komu chcesz udostepnic notatke</li>
                    <li><input type="sharedWith", id="sharedWith" name="sharedWith", placeholder="Login osoby"></li>
                    <li>Unikalny tytul:</li>
                    <li><input type="title", id="title" name="title", placeholder="Tytul"></li>
                    <li>Tresc notatki:</li>
                    <li><input type="content", id="content" name="content", placeholder="Treść notatki"></li>
                    <li><input type="submit", id="submit", name="submit", value="Opublikuj notatkę" ></li>
                </ul>
            </form>

            <footer>
                <ul>
                    <li>Ochrona danych w systemach informatycznych 2020</li>
                </ul>
            </footer>
        </body>
</html>